* {
  margin: 0;
  padding: 0;
  font-family: 'Gentium Plus', serif;
  box-sizing: border-box; }

/* nav */
nav {
  background-color: #181717;
  position: fixed;
  width: 100vw;
  z-index: 2;
  height: 50px; }
  nav .list-nav {
    float: right; }
  nav li {
    line-height: 45px;
    font-size: 25px;
    display: inline-block;
    margin: 0px 20px; }
    nav li a {
      text-decoration: none;
      list-style: none;
      color: #fffefd;
      padding: 10px 20px;
      text-transform: uppercase; }
      nav li a:hover {
        color: #e98849;
        transition: 0.3s; }
  nav .checkbtn {
    line-height: 48px;
    font-size: 25px;
    display: none;
    color: white;
    float: right;
    margin-right: 40px;
    cursor: pointer; }
  nav #check {
    display: none; }

/* index */
#container-title {
  display: flex;
  height: 45rem;
  width: 100%;
  color: #b3771f;
  text-shadow: 4px 3px whitesmoke;
  background: linear-gradient(rgba(22, 18, 5, 0.5), rgba(0, 0, 0, 0.5)), url(../Imagenes/1pexels-daniel-smyth-8865186.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  justify-content: center;
  align-items: center; }
  #container-title .h1-title {
    font-size: 10rem; }
  #container-title .h2-title {
    font-size: 3rem;
    color: rgba(138, 89, 16, 0.877);
    font-style: italic;
    text-transform: lowercase;
    letter-spacing: 8px; }

/* nosotros */
.container-about-me {
  height: 42rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  background-image: url(../Imagenes/orange_grunge_in_white_background2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .container-about-me .container-h3-p {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%; }
  .container-about-me h1 {
    font-size: 5rem;
    margin-bottom: 30px;
    color: #111110;
    text-shadow: 2px 1px #f0eaea; }
  .container-about-me p {
    font-size: 20px;
    width: 40%;
    line-height: 30px;
    color: #020100;
    text-transform: initial; }
  .container-about-me .container-image-about-me img {
    height: 20rem;
    width: 20rem;
    position: absolute;
    right: 10%;
    top: 9rem; }

/* galeria */
.container-galeria {
  padding-bottom: 50px; }
  .container-galeria .marg__galeria {
    margin-left: 2rem;
    margin-right: 1rem;
    row-gap: 3rem; }
  .container-galeria .contenedor-publicidad {
    padding-top: 5rem; }
  .container-galeria .titulo-galeria {
    display: flex;
    font-size: 5rem;
    padding-top: 10%;
    padding-bottom: 10px;
    color: #050505;
    padding-left: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
    border-bottom: 2px solid black;
    font-family: 'Quicksand', sans-serif; }
  .container-galeria .carrito {
    font-size: 40px;
    align-self: center;
    margin-left: 20px;
    margin-top: 20px; }

.container-galeria .fotos-galeria {
  padding-top: 30px;
  border-top-right-radius: 4%;
  border-top-left-radius: 4%; }

.container-galeria .publicidad_1,
.container-galeria .publicidad {
  width: 100%;
  height: 100vh;
  cursor: pointer;
  transition: 0.3s; }

.container-galeria .publicidad:hover,
.container-galeria .publicidad_1:hover {
  transform: scale(0.8); }

.container-galeria .carrito {
  font-size: 40px;
  align-self: center;
  margin-left: 20px;
  margin-top: 20px; }

.container-galeria .imagen-1,
.container-galeria .imagen-2 {
  height: 100%;
  width: 90%;
  cursor: pointer;
  box-shadow: 0 18px 15px #000000; }

.container-galeria .image_gallery, .container-galeria .image_gallery1 {
  position: relative;
  overflow: hidden; }
  .container-galeria .image_gallery::after, .container-galeria .image_gallery1::after {
    content: "";
    position: absolute;
    width: 86%;
    height: 100%;
    background-color: #e9894979;
    top: 0;
    left: 10px;
    transform: translateY(100%);
    transition: transform 0.3s; }
  .container-galeria .image_gallery:hover::after, .container-galeria .image_gallery1:hover::after {
    transform: translateY(0); }
  .container-galeria .image_gallery:hover .image-data_text, .container-galeria .image_gallery1:hover .image-data_text, .container-galeria .image_gallery:hover .image-data_text1, .container-galeria .image_gallery1:hover .image-data_text1 {
    transform: translateY(0);
    transition: transform 0.3s 0.1s; }

.container-galeria .image-data, .container-galeria .image-data1 {
  position: absolute;
  top: 8rem;
  z-index: 1;
  padding: 1rem;
  text-transform: uppercase; }

.container-galeria .image-data_text, .container-galeria .image-data_text1 {
  transform: translateX(-180%);
  font-size: 40px;
  color: white; }

.container-galeria .image-data1 {
  margin-left: 15%;
  padding: 0; }

/* preguntas */
.contenedor-preguntas .preguntas {
  padding-top: 100px;
  padding-left: 50px;
  padding-bottom: 20px;
  display: inline-block;
  position: relative;
  background-image: url(../Imagenes/orange_grunge_in_white_background2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.contenedor-preguntas .title-preguntas {
  font-size: 45px;
  padding-bottom: 20px;
  color: black;
  padding-left: 10px;
  text-shadow: 4px 3px whitesmoke; }

.contenedor-preguntas .preguntas-h2 {
  font-size: 25px;
  text-transform: initial;
  margin: 10px 10px; }

.contenedor-preguntas .respuestas-container {
  width: 60%;
  height: 60%;
  padding-left: 10px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-transform: none;
  font-size: 20px;
  box-shadow: 5px 2px 3px black;
  line-height: 30px;
  background-color: rgba(192, 187, 187, 0.486); }

.contenedor-preguntas .img-preguntas {
  position: absolute;
  right: 50px;
  bottom: 20%;
  height: 300px;
  width: 300px; }

.contenedor-preguntas .map {
  height: 18rem;
  width: 32rem;
  margin-top: 20px;
  border-radius: 4%;
  margin-left: 20%; }

/* contact */
.container-contact {
  background-color: rgba(0, 0, 0, 0.678);
  height: 97vh;
  padding-top: 100px;
  background-image: linear-gradient(rgba(19, 16, 11, 0.664), rgba(15, 12, 5, 0.534)), url(../Imagenes/1pexels-arthur-ver-426983.jpg);
  background-position: center;
  background-size: cover; }
  .container-contact .container-form {
    width: 400px;
    background-color: #080808;
    height: 600px;
    margin: auto;
    border-radius: 4px;
    color: #bb7d0b;
    box-shadow: 7px 13px 37px #030303; }
    .container-contact .container-form .titulo-contact {
      text-align: center;
      padding-top: 30px;
      font-size: 25px; }
    .container-contact .container-form .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 380px;
      padding-top: 70px; }
    .container-contact .container-form .input {
      background-color: #050505;
      margin-bottom: 10px;
      width: 80%;
      color: #bb7d0b;
      border-radius: 4px;
      border: 1px solid white;
      padding: 10px;
      font-size: 15px;
      transition: all 2s; }
      .container-contact .container-form .input:focus {
        width: 85%;
        font-size: 18px; }
    .container-contact .container-form #submit:hover {
      color: white;
      background-color: #bb7d0b; }

/* footer */
.container-footer {
  background-color: #020101;
  height: 100%; }
  .container-footer .contenedor-iconos, .container-footer .copy {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .container-footer .iconos {
    font-size: 30px;
    padding: 2.5rem 50px;
    color: #c0bdbd; }
  .container-footer .copy {
    flex-direction: column;
    align-items: center;
    color: #797878;
    letter-spacing: 2px; }
  .container-footer .fa-brands:hover {
    color: #e98849;
    transform: scale(1.2);
    transition: 0.3s; }

@media (max-width: 1440px) {
  /* Galeria responsive   */
  .contenedor-preguntas .img-preguntas {
    height: 200px;
    width: 200px; }
  .contenedor-preguntas .map {
    height: 200px;
    width: 75%; } }

/* contact responsive*/
.container-contact {
  padding-top: 80px;
  padding-bottom: 40rem; }

@media (max-width: 1024px) {
  /* nav responsive */
  nav .checkbtn {
    display: block; }
  nav #check:checked ~ ul {
    left: 0; }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #14120a;
    top: 50px;
    left: 100%;
    text-align: center;
    transition: all .5s; }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px; }
      nav ul li a {
        font-size: 30px; }
      nav ul li:hover {
        color: #e98849; }
  /* index responsive */
  #container-title {
    height: 35rem; }
    #container-title .h1-title {
      font-size: 7rem; }
    #container-title .h2-title {
      font-size: 1.5rem;
      text-shadow: 1px 1px whitesmoke; }
  /* galeria responsive */
  .container-galeria .row__publicidad {
    display: flex;
    justify-content: center;
    padding-bottom: 30px; }
  .container-galeria .publicidad_1,
  .container-galeria .publicidad {
    width: 90%;
    height: 80vh; }
  /* preguntas responsive */
  .contenedor-preguntas .img-preguntas {
    height: 1px;
    width: 150px;
    right: 30px; }
  .contenedor-preguntas .map {
    height: 180px;
    width: 75%; }
  /* contact responsive*/ }

@media (max-width: 768px) {
  /* Galeria responsive */
  .container-galeria .titulo-galeria {
    font-size: 3.5rem;
    padding-top: 20%; }
  .container-galeria .image_gallery::after, .container-galeria .image_gallery1::after {
    left: 24%;
    width: 48.5%;
    height: 80%;
    transform: translateY(125%); }
  .container-galeria .image-data, .container-galeria .image-data1 {
    left: 23%;
    top: 5rem; }
  .container-galeria .image-data_text, .container-galeria .image-data_text1 {
    transform: translateX(-240%);
    font-size: 25px;
    color: white; }
  .container-galeria .imagen-1,
  .container-galeria .imagen-2 {
    height: 80%;
    width: 50%;
    margin-left: 23%; }
  /* preguntas responsive*/
  .contenedor-preguntas .img-preguntas {
    visibility: hidden; }
  .contenedor-preguntas .preguntas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 20px; }
  .contenedor-preguntas .respuestas-container {
    width: 80%;
    height: 100%;
    padding-bottom: 0%;
    font-size: 1rem; }
  .contenedor-preguntas .map {
    height: 100px;
    width: 65%; }
  .contenedor-preguntas .title-preguntas {
    font-size: 2.2rem;
    padding-left: 0;
    text-align: start;
    display: flex; }
  /* nosotros responsive*/
  .container-about-me .container-h3-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0; }
  .container-about-me h2 {
    font-size: 4.2rem; }
  .container-about-me p {
    font-size: 1.2rem;
    width: 60%; }
  .container-about-me .container-image-about-me img {
    visibility: hidden; }
  /* contact responsive*/
  .container-contact .container-form {
    width: 300px; }
    .container-contact .container-form .titulo-contact {
      padding-top: 30px;
      font-size: 12px; }
    .container-contact .container-form .input {
      width: 70%;
      font-size: 12px; } }

@media (max-width: 400px) {
  /* index responsive */
  #container-title {
    text-shadow: 1px 1px whitesmoke; }
    #container-title .h1-title {
      font-size: 4rem; }
    #container-title .h2-title {
      font-size: 1.5rem;
      text-shadow: 0.5px 0.5px whitesmoke;
      letter-spacing: 5px; }
  .container-about-me {
    padding-left: 0; }
    .container-about-me .container-h3-p {
      padding-left: 0; }
    .container-about-me h1 {
      font-size: 4rem; }
    .container-about-me p {
      width: 80%; }
  /* Galeria responsive */
  .container-galeria h1.titulo-galeria {
    text-align: center; }
  .container-galeria h2.titulo-galeria {
    flex-wrap: wrap; }
  .contenedor-preguntas .preguntas {
    padding-left: 0; }
  .contenedor-preguntas .title-preguntas {
    font-size: 30px; }
  .contenedor-preguntas .preguntas-h2 {
    text-align: center; }
  .container-contact .container-form {
    width: 250px;
    height: 520px; } }
