@media (max-width: 1440px) {

    /* Galeria responsive   */
    .contenedor-preguntas{
        .img-preguntas {
            height: 200px;
            width: 200px;
        }
    
        .map {
            height: 200px;
            width: 75%;
        }
    
    }

    }
    
/* contact responsive*/
.container-contact{
    padding-top: 80px;
}
